# Ignorar dependências locais
node_modules
**/node_modules

# Ignorar builds locais
dist
build

# Ignorar cache e logs
npm-debug.log
pnpm-debug.log
yarn-error.log
.pnpm-store
.cache

# Ignorar controle de versão
.git
.gitignore

# Ignorar configs locais
.env
.DS_Store
