# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=academiny

# JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui_mude_em_producao
JWT_EXPIRATION=7d

NODE_ENV=production

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu-email@gmail.com
SMTP_PASS=itallo100%mineiro
SMTP_FROM="Academiny" <noreply@academiny.com>
